@import "../../style/costant.scss";
.hyotinput {
  padding: 10px;
  display: grid;
  text-align: start;
  margin-bottom: 20px;
  position: relative;
  font-family: $font-family;

  input {
    height: 46px;
    border-radius: 4px;
    border: 1px solid rgb(182, 182, 182);
  }
  label {
    margin: 0px 0 2px 5px;
  }
  &.hyotinput-icon-pos {
    &--left .input-icon,
    &--right .input-icon {
      position: absolute;
      top: 41px;
      opacity: 0.6;
      font-size: 32px;
    }
    &--left {
      input {
        padding-left: 64px;
      }
      .input-icon {
        left: 25px;
      }
    }
    &--right {
      input {
        padding-right: 64px;
      }
      .input-icon {
        right: 25px;
      }
    }
  }
  .help-text {
    font-size: 14px;
    padding-left: 1rem;
    opacity: 0.8;
  }

  &.hyotinput-disabled {
    opacity: 0.7;
    pointer-events: none;
    label {
      opacity: 0.7;
    }
  }

  &.hyotinput-error {
    input {
      border: 2px solid $danger;
    }
    .help-text {
      color: $danger;
    }
  }
}
