$primary: #1ea7fd;
$secondary: #423e38;
$success: #0ed916;
$info: #1e6cfd;
$warning: #fda01e;
$help: #1efd5a;
$danger: #fd1e1e;
$font-family: "sans-serif";

.color-success {
  color: $success;
}
.color-warning {
  color: $warning;
}
.color-danger {
  color: $danger;
}
