@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: "./material-icon.ttf" format("woff");
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.color-success {
  color: #0ed916;
}

.color-warning {
  color: #fda01e;
}

.color-danger {
  color: #fd1e1e;
}

.hyotalert {
  padding: 24px;
  border: 2px solid gray;
  background: #fff;
  transition: 0.7s ease-in-out;
  color: rgb(54, 54, 54);
  position: relative;
  z-index: 1000;
  margin: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "sans-serif";
  -webkit-animation: scale-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.hyotalert.hyotalert-dismissible {
  padding-right: 50px;
}
.hyotalert.cancel-animation {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-out-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.hyotalert.hyotalert-type--success {
  color: #0ed916;
}
.hyotalert.hyotalert-type--success:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #0ed916;
}
.hyotalert.hyotalert-type--warning {
  color: #fda01e;
}
.hyotalert.hyotalert-type--warning:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #fda01e;
}
.hyotalert.hyotalert-type--error {
  color: #fd1e1e;
}
.hyotalert.hyotalert-type--error:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #fd1e1e;
}
.hyotalert:hover {
  filter: brightness(0.8);
}
.hyotalert .hyotalert-title {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  margin-right: 5px;
}
.hyotalert .close-alert {
  fill: #fff;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.hyotalert .alert-icon {
  margin-right: 10px;
}
@media (max-width: 800px) {
  .hyotalert {
    flex-direction: column;
    padding: 20px 10px 10;
  }
  .hyotalert:before {
    width: 100% !important;
    height: 10px !important;
  }
  .hyotalert.hyotalert-dismissible {
    padding-right: 24px;
  }
  .hyotalert .hyotalert-title,
.hyotalert .alert-icon {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@-webkit-keyframes scale-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.hyotbtn {
  font-family: "sans-serif";
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 10px 2rem;
  line-height: 1;
  color: white;
  background-color: #1ea7fd;
  transition: all 0.7s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
}
.hyotbtn:hover {
  transform: scale(1.1);
}
.hyotbtn svg {
  transition: all 0.7s ease-in-out;
  fill: #fff;
}

.hyotbtn-sev--primary {
  background-color: #1ea7fd;
}

.hyotbtn-sev--secondary {
  background-color: #423e38;
}

.hyotbtn-sev--success {
  background-color: #0ed916;
}

.hyotbtn-sev--info {
  background-color: #1e6cfd;
}

.hyotbtn-sev--warning {
  background-color: #fda01e;
  color: #333;
}
.hyotbtn-sev--warning svg {
  fill: #333;
}

.hyotbtn-sev--help {
  background-color: #1efd5a;
  color: #333;
}
.hyotbtn-sev--help svg {
  fill: #333;
}

.hyotbtn-sev--danger {
  background-color: #fd1e1e;
}

.hyotbtn-type--link {
  background-color: white;
  border: none;
  color: #1ea7fd;
}
.hyotbtn-type--link:hover {
  text-decoration: underline;
}

.hyotbtn-center {
  flex-direction: column;
}

.hyotbtn-left span {
  margin-right: 1rem;
}

.hyotbtn-right {
  flex-direction: row-reverse;
}
.hyotbtn-right span {
  margin-left: 1rem;
}

.hyotbtn-type--disabled {
  background-color: gainsboro;
  border: rgb(139, 139, 139);
  color: rgb(139, 139, 139);
  pointer-events: none;
}
.hyotbtn-type--disabled:hover {
  transform: scale(1);
}

.hyotbtn-rounded--none {
  border-radius: 0;
}

.hyotbtn-rounded--sm {
  border-radius: 5px;
}

.hyotbtn-rounded--md {
  border-radius: 12px;
}

.hyotbtn-rounded--lg {
  border-radius: 2rem;
}

.hyotbtn-rounded--max {
  border-radius: 100%;
  aspect-ratio: 1/1;
  padding: 12px;
}

.hyotbtn-shadow--none {
  box-shadow: none;
}

.hyotbtn-shadow--sm {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.hyotbtn-shadow--md {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.hyotbtn-shadow--lg {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.hyotinput {
  padding: 10px;
  display: grid;
  text-align: start;
  margin-bottom: 20px;
  position: relative;
  font-family: "sans-serif";
}
.hyotinput input {
  height: 46px;
  border-radius: 4px;
  border: 1px solid rgb(182, 182, 182);
}
.hyotinput input:hover {
  border-color: #1ea7fd;
}
.hyotinput input:focus-visible {
  outline: 2px rgba(30, 168, 253, 0.2274509804);
  padding: 2px;
}
.hyotinput label {
  margin: 0px 0 2px 5px;
}
.hyotinput.hyotinput-icon-pos--left .input-icon, .hyotinput.hyotinput-icon-pos--right .input-icon {
  position: absolute;
  top: 41px;
  opacity: 0.6;
  font-size: 32px;
}
.hyotinput.hyotinput-icon-pos--left input {
  padding-left: 64px;
}
.hyotinput.hyotinput-icon-pos--left .input-icon {
  left: 25px;
}
.hyotinput.hyotinput-icon-pos--right input {
  padding-right: 64px;
}
.hyotinput.hyotinput-icon-pos--right .input-icon {
  right: 25px;
}
.hyotinput .help-text {
  font-size: 14px;
  padding-left: 1rem;
  opacity: 0.8;
}
.hyotinput.hyotinput-disabled {
  opacity: 0.7;
  pointer-events: none;
}
.hyotinput.hyotinput-disabled label {
  opacity: 0.7;
}
.hyotinput.hyotinput-error input {
  border: 2px solid #fd1e1e;
}
.hyotinput.hyotinput-error .help-text {
  color: #fd1e1e;
}/*# sourceMappingURL=index.css.map */